<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-location/iron-location.html">
<link rel="import" href="../../bower_components/iron-label/iron-label.html">

<dom-module id="poly-location">
  <template>
    <style> 
      :host {
        width: 100%;
      }
      .route {
        font-family: monospace;
        border-style: inset;
        border-width: 1px;
      }
    </style>
    <iron-location path='{{path}}' query='{{query}}' hash='{{hash}}'></iron-location>
    <div class="route">{{url}}</div>
  </template>
  <script>
    Polymer({
      is: "poly-location",
      properties: {
        path: String,
        query: String,
        hash: String,
        url: {
          computed: 'computeURL(path, query, hash)'
        }
      },
      computeURL: function(path, query, hash) {
        var url = path;
        if (query) {
          url += '?' + query;
        }
        if (hash) {
          url += '#' + hash;
        }
        return url;
      }
    });
  </script>
</dom-module>