<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel='import' href='../../bower_components/app-route/app-location.html'>
<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/neon-animation/neon-animation.html'>
<link rel='import' href='../../bower_components/paper-item/paper-item.html'>
<link rel='import' href='../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../bower_components/iron-icons/iron-icons.html'>
<link rel='import' href='../../bower_components/paper-drawer-panel/paper-drawer-panel.html'>
<link rel='import' href='../../bower_components/paper-toolbar/paper-toolbar.html'>
<link rel='import' href='../../bower_components/iron-selector/iron-selector.html'>
<link rel='import' href='../demo-1/demo-1.html'>
<link rel='import' href='../demo-2/demo-2.html'>


<dom-module id='poly-app'>
  <template>
    <style is="custom-style">
      body {
        margin: 0px;
      }
      div[title] {
        font-size: 2em;
      }
    </style>

    <paper-drawer-panel id="drawer" force-narrow>

      <div drawer>
        <paper-toolbar><span class="title">Demos</span></paper-toolbar>
        <iron-selector selected="{{pageRoute.page}}" attr-for-selected="key">
          <paper-item key="" paper-drawer-toggle>Home</paper-item>
          <template is='dom-repeat' items='{{data}}'>
            <paper-item key$="{{item.id}}" paper-drawer-toggle>{{item.description}}</paper-item>
          </template>
        </iron-selector>
      </div>

      <div main>
        <paper-toolbar>
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <span class='title'>{{selected.description}}</span>
          <paper-icon-button icon="refresh" on-tap="refresh"></paper-icon-button>
        </paper-toolbar>
        <div>
          <neon-animated-pages selected="{{selected.id}}" attr-for-selected="key" animateInitialSelection=true entry-animation="fade-in-animation" exit-animation="fade-out-animation">
            <neon-animatable key=""></neon-animatable>
            <neon-animatable key="demo-1"><demo-1></demo-1></neon-animatable>
            <neon-animatable key="demo-2"><demo-2></demo-2></neon-animatable>
          </neon-animated-pages>
        </div>
      </div>
    </paper-drawer-panel>

    <div>
    </div>

    <app-location route='{{route}}'></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{pageRoute}}"></app-route>
    <app-route route="{{route}}" pattern="/" data="{{pageRoute}}"></app-route>
  </template>

  <script>
    Polymer({
      is: 'poly-app',

      properties: {

        route: {
          type: Object
        },

        pageRoute: {
          type: Object
        },

        data: {
          type: Array,
          value: function() {
            return this.retrieveData();
          }
        },

        selected: {
          type: Object,
          computed: 'selectedPage(pageRoute)'
        }
      },

      retrieveData: function() {
        console.log('getting data');
        this.data = [{
          id: 'demo-1',
          description: 'Demo 1',
          import: 'components/demo-1/demo-1.html',
          element: 'demo-1'
        }, 
        {
          id: 'demo-2',
          description: 'Demo 2',
          import: 'components/demo-2/demo-2.html',
          element: 'demo-2'
        }];
        this.index = {};

        for (var i in this.data) {
          var page = this.data[i];
          this.index[page.id] = page;
        }
        console.log(JSON.stringify(this.data));
        return this.data;
      },

      selectedPage: function(pageRoute) {
        console.log(pageRoute.page);
        if (pageRoute != null && pageRoute.page != null && this.index.hasOwnProperty(pageRoute.page)) {
          return this.index[pageRoute.page];
        } else {
          return {
            id: '',
            description: 'Home'
          };
        }
      },

      refresh: function() {
        window.location.assign(window.location.host);
      },
    });
  </script>
</dom-module>